<footer class="footer">
    <div class="footer-section scrollup-section">
        <a class="scrollup">
            <img src="https://free-png.ru/wp-content/uploads/2021/05/free-png.ru-383.png" alt="вверх" width="120" height="100">
        </a>
        <p class="scrollup">UP</p>
    </div>

    <div class="notification">
        <div class="footer-section">
            <ul>
                <li>Help</li>
                <hr class="navbar-divider">
                <a href="/about" class="footerlink"><li>About</li></a>
                <a href="/contact" class="footerlink"><li>Contact</li></a>
                <a href="/issues" class="footerlink"><li>Reports</li></a>
            </ul>
        </div>
    </div>
   

    <div class="notification">
        <div class="footer-section">
            <ul>
                <li>Rules</li>
                <hr class="navbar-divider">
                <a href="/rules" class="footerlink"><li>Правила сайта</li></a>
                <a href="/issues" class="footerlink"><li>Как взять себе питомца</li></a>
                
            </ul>
        </div>
   </div>

    <div class="notification">
        <div class="footer-section">
            <ul>
                <li>Contacts</li>
                <hr class="navbar-divider">
                <a href="/contact" class="footerlink"><li>1-111-111-11-11</li></a>
                <a href="/contact" class="footerlink"><li>0-000-000-00-00</li></a>

                <a href="https://vk.com/iustal666" class="footerlink"><li>ourcutevkpage.com</li></a>
            </ul>
        </div>
    </div>
    

    <div class="footer-section">
        <ul>
            <li>Report form</li>
            <hr class="navbar-divider">
            <li>
                <textarea class="textarea is-primary" placeholder="Primary textarea"></textarea>
            </li>
            <li>
                <div class="buttons">
                    <a class="button is-primary"> <strong>Send</strong> </a>
                </div>
            </li>
            
        </ul>
    </div>
  </footer>