<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">

    <a class="navbar-item" href="/">
      <img src="img/home.png" width="32" height="64">
    </a>

    
  </div>

  <div class="navbar-menu">

    <div class="navbar-start">

      <a class="navbar-item" href="/hall"> Hall </a>
      <a class="navbar-item" href="/catalog"> Catalog </a>

      <div class="navbar-item has-dropdown is-hoverable">

        <a class="navbar-link"> Help </a>

        <div class="navbar-dropdown">

          <a class="navbar-item" href="/about"> About </a>
          <a class="navbar-item" href="/contact"> Contact </a>
          <a class="navbar-item" href="/rules"> Rules </a>

          <hr class="navbar-divider">

          <a class="navbar-item" href="/issues"> Report an issue </a>

        </div>
      </div>
    </div>

    <div class="navbar-end">

      <div class="navbar-item has-dropdown is-hoverable">

        <a class="navbar-link" href="/profile"> <img src="img/bear.png" width="30px"> </a>

        <div class="navbar-dropdown">

          <a class="navbar-item" href="/features"> Избранное </a>
          <a class="navbar-item" href="/aboutme"> Обо мне </a>

          <hr class="navbar-divider">

          <a class="navbar-item" href="/profile"> Личный кабинет </a>

        </div>
      </div>

      <div class="navbar-item">

        <div class="buttons">
          <a class="button is-primary" href="/signup"> <strong>Sign up</strong> </a>
          <a class="button is-light" href="/login"> Log in </a>
        </div>

      </div>

    </div>

  </div>

</nav>