<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">

    <a class="navbar-item" href="/">
      <img src="img/home.png" width="32" height="64">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true">Catalog</span>
      <span aria-hidden="true">Hall</span>
      <span aria-hidden="true">Help</span>
    </a>
    
  </div>

  <div class="navbar-menu">

    <div class="navbar-start">

      <a class="navbar-item" href="/hall"> Hall </a>
      <a class="navbar-item" href="/catalog"> Catalog </a>

      <div class="navbar-item has-dropdown is-hoverable">

        <a class="navbar-link" href="/help"> Help </a>

        <div class="navbar-dropdown">

          <a class="navbar-item" href="/about"> About </a>
          <a class="navbar-item" href="/contact"> Contact </a>
          <a class="navbar-item" href="/contact"> Rules </a>

          <hr class="navbar-divider">

          <a class="navbar-item" href="/reports"> Report an issue </a>

        </div>
      </div>
    </div>

    <div class="navbar-end">

      <div class="navbar-item has-dropdown is-hoverable">

        <a class="navbar-link" href="/help"> <img src="img/bear.png" alt="" width="30px"> </a>

        <div class="navbar-dropdown">

          <a class="navbar-item" href="/profile"> Мой профиль </a>
          <a class="navbar-item" href="/features"> Избранное </a>
          <a class="navbar-item" href="/contact"> Мои животные </a>

          <hr class="navbar-divider">

          <a class="navbar-item" href="/reports"> Личный кабинет </a>

        </div>
      </div>

      <div class="navbar-item">

        <div class="buttons">
          <a class="button is-primary" href="/signup.html"> <strong>Sign up</strong> </a>
          <a class="button is-light" href="/login.html"> Log in </a>
        </div>

      </div>

    </div>

  </div>

</nav>