<section class="section is-large">
    <h1 class="title">Обратная связь</h1>

    <br>

    <h2 class="subtitle">
        Вы можете связаться с нами по номеру <span>0-000-000-00-00</span>
    </h2>

    <h2 class="subtitle">
        А также по номеру <span>1-111-111-11-11</span>
    </h2>
    
    <h2 class="subtitle">
        А также можете посетить нашу страницу в вк <a href="#">ourcutevkpage.com</a>
    </h2>
</section>