<div class="section statistics">

    <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="img/dogstat.jpg" alt="Placeholder image">
      </figure>
    </div>

    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-2 center">735 тыс</p>
        </div>
      </div>
  
      <div class="title is-5 center">
        Бездомных собак на улицах
      </div>
    </div>

  </div>

        <div class="card">
        <div class="card-image">
        <figure class="image is-4by3">
            <img src="img/shelterstat.png" alt="Placeholder image">
        </figure>
        </div>
        <div class="card-content">
        <div class="media">
            <div class="media-content">
            <p class="title is-2 center">144 тыс</p>
            </div>
        </div>
    
        <div class="title is-5 center">
            Животных в Приютах
        </div>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
        <figure class="image is-4by3">
            <img src="img/catstat.jpg" alt="Placeholder image">
        </figure>
        </div>
        <div class="card-content">
        <div class="media">
            <div class="media-content">
            <p class="title is-2 center">3.2 млн</p>
            </div>
        </div>
    
        <div class="title is-5 center">
            Бездомных котов на улицах
        </div>
        </div>
    </div>

</div>

<section class="section">

  <div class="subtitle center">
    Вы можете помочь им обрести свой дом

    <br> <br>

    <a href="/profile">
        <div class="button">
            Помочь им найти хозяев
        </div>
    </a>

    <br> <br>

    <a href="/catalog">
        <div class="button">
            Или взять себе домой питомца
        </div>
    </a>
    
  </div>

</section>