<div class="container is-max-widescreen">
    <form action="/login" method="post">

      <div class="field">
        <label class="label big">Войдите в аккаунт</label>
      </div>

      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="email" placeholder="username">
        </div>
      </div>
      
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="password****">
        </div>
      </div>
      
      <hr>
      
      <div class="field is-grouped">
        
        <div class="control">
            <input class="button is-link" type="submit" formmethod="post" value="Submit">
        </div>
    
        <div class="control">
          <a href="/"> <div class="button is-link is-light"> Cancel </div> </a>
        </div>

      </div>

  </form>
</div>
