<div class="section profile-section">
    
    <div>
        <img src="https://bulma.io/images/placeholders/128x128.png" width="380">
    </div>

    <div>
        <span class="button"> Настройки аккаунта</span>
    </div>

    <div>
        <span class="button">Мои объявления</span>
        <span class="button">Избранное</span>
    </div>

    
</div>