<div class="container is-max-widescreen">
    <form action="/registrate" method="post">   

        <div class="field">
          <label class="label big">Регистрация</label>
        </div>

        <div class="field">
          <label class="label">Username</label>

          <div class="control">
            <input class="input" type="text" name="username" placeholder="your username">
          </div>

        </div>
        
        <div class="field">
          <label class="label">Password</label>

          <div class="control">
            <input class="input" type="text" name="password" placeholder="create a password">
          </div>

        </div>

        <div class="field">
          <label class="label">Confirm</label>

          <div class="control">
            <input class="input" type="confirm" placeholder="confirm your password">
          </div>

        </div>

        
        <hr>
        
        <div class="field is-grouped">

          <div class="control">
            <input class="button is-link" type="submit" value="Submit">
          </div>
        
          <div class="control">
              <a href="/"> <div class="button is-link is-light"> Cancel </div> </a>
          </div>
          
        </div>

    </form>  
</div>

