<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <%- include("./partials/head") %>
</head>

<body>

    <%- include("./partials/navbar"); %>
    <%- include("./partials/body"); %>
    <%- include("./partials/footer"); %>

    <script src="js/scrollup.js"></script>
</body>

</html>